body {
    font-family: Tahoma, sans-serif;
    color: #333;
    background-color: #ddd;
}


/* background: bg-color bg-image position-x position y/bg-size bg-repeat */
p:first-of-type {
    background: #ffc url('../../images/light-bulb.png')  center center/contain no-repeat;
}

/* višestruke pozadine */
p:nth-of-type(3) {
    background: url('../../images/orange.png') right top/150px no-repeat,
    url('../../images/butterfly.png') left center/contain no-repeat,
    url('../../images/coffee-cup.png') center center/contain no-repeat,
    #ccf url('../../images/pattern.png')
    ;
}
