body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    background-color: #ddd;
    background-image: url('butterfly.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
}